/* line 1, ../sass/style.sass */
a {
  text-decoration: none;
  color: inherit;
}

/* line 6, ../sass/style.sass */
header {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  background-color: #63628E;
  color: white;
}
/* line 15, ../sass/style.sass */
header ul {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-flow: row wrap;
  font-size: 1.5em;
}
/* line 22, ../sass/style.sass */
header ul li:first-of-type {
  margin-right: 30px;
}

/* line 25, ../sass/style.sass */
main {
  width: 100%;
  height: 90vh;
  background-color: #E0DEE5;
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 33, ../sass/style.sass */
main .items_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
/* line 38, ../sass/style.sass */
main .items_container .item {
  width: 12%;
  margin: 15px;
}
/* line 42, ../sass/style.sass */
main .items_container .item_cover {
  width: 200px;
  height: auto;
}
/* line 46, ../sass/style.sass */
main .items_container .item_cover .buttons_container {
  display: flex;
  flex-direction: row;
}
/* line 50, ../sass/style.sass */
main .items_container .item_cover .buttons_container .quantityBtns_container {
  display: flex;
  flex-direction: row;
}
