/* line 1, ../sass/style.sass */
a {
  text-decoration: none;
  color: inherit;
}

/* line 5, ../sass/style.sass */
header {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  background-color: #63628E;
  color: white;
}
/* line 14, ../sass/style.sass */
header ul {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-flow: row wrap;
  font-size: 1.5em;
}
/* line 21, ../sass/style.sass */
header ul li:first-of-type {
  margin-right: 30px;
}

/* line 24, ../sass/style.sass */
main {
  width: 100%;
  padding: 10vh 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* line 33, ../sass/style.sass */
main .items_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
/* line 38, ../sass/style.sass */
main .items_container .item {
  width: 12%;
  margin: 15px;
}
/* line 42, ../sass/style.sass */
main .items_container .item .item_cover {
  width: 200px;
  height: auto;
}
/* line 46, ../sass/style.sass */
main .items_container .item .buttons_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
}
/* line 59, ../sass/style.sass */
main .cart_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 50%;
}
/* line 65, ../sass/style.sass */
main .cart_container .cartItem {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  flex-grow: 1;
}
/* line 71, ../sass/style.sass */
main .cart_container .cartItem .cartItem_info {
  text-align: right;
}
/* line 74, ../sass/style.sass */
main .cart_container .cartItem .cartItem_cover {
  width: 100px;
  height: auto;
}
/* line 78, ../sass/style.sass */
main .cart_subTotal {
  border-top: 3px solid white;
  width: 50%;
}
